{% extends 'layout.html' %}

{% block title %}Humanaid | Remove Crisis Entry{% endblock %}

{% block content %}
<div class="form-container">
    <div class="form-header">
        <h2> Remove Crisis Entry</h2>
        <a href="{{ url_for('admin_panel') }}" class="back-btn">← Back to Dashboard</a>
    </div>
    <div>
        <form action="/remove" method="post">
            <input autocomplete="off" autofocus name="Entry" placeholder="Name" type="text">
            <select name="Entry">
                <option selected value="">Entry</option>
            {% for entry in Entry %}
                <option value="{{ Entry.id }}">{{ Entry.slang }}</option>
            {% endfor %}
        </select>
    </div>

        <button type="submit" class="submit-btn">Remove Crisis From Database</button>
    </form>
</div>
{% endblock %}
